<?xml version="1.0" encoding="UTF-8"?>
<scr:component xmlns:scr="http://www.osgi.org/xmlns/scr/v1.1.0" name="org.eclipse.packagedrone.repo.api.services.ExceptionMapper">
   <implementation class="org.eclipse.packagedrone.repo.api.internal.ExceptionMapperImpl"/>
   <service>
      <provide interface="org.eclipse.packagedrone.repo.api.internal.ExceptionMapperImpl"/>
   </service>
</scr:component>
