<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    id="WebApp_ID" version="3.0">
    
    <servlet>
        <servlet-name>upload</servlet-name>
        <servlet-class>org.eclipse.packagedrone.repo.api.upload.UploadServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
        
        <multipart-config>
            <max-file-size>1073741824</max-file-size><!-- 1GB -->
            <max-request-size>1073741824</max-request-size><!-- 1GB -->
            <file-size-threshold>1048576</file-size-threshold><!-- 1MB -->
        </multipart-config>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>upload</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
    
</web-app>
