[Unit]
Description=Eclipse Package Drone Server
After=network.target

[Service]
ExecStart=/usr/lib/package-drone-server/instance/server
StandardOutput=journal
User=pdrone

[Install]
WantedBy=multi-user.target
