<?xml version="1.0" encoding="UTF-8"?>
<scr:component xmlns:scr="http://www.osgi.org/xmlns/scr/v1.1.0" name="org.eclipse.packagedrone.repo.manage.system.service">
   <implementation class="org.eclipse.packagedrone.repo.manage.system.internal.SystemServiceImpl"/>
   <service>
      <provide interface="org.eclipse.packagedrone.repo.manage.system.SystemService"/>
   </service>
   <reference bind="setServer" cardinality="0..1" interface="org.eclipse.jetty.server.Server" name="Server" policy="dynamic" unbind="unsetServer"/>
</scr:component>
